{
    log {
        output stdout
        format console
        level DEBUG
    }

    admin :2019
}

localhost {
    respond "Hello, world!"
    
    tls internal

    handle_errors {
        rewrite * /{http.error.status_code}.html
        file_server
    }

    encode gzip zstd

    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
    }

    respond /health "Healthy"

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT"
    }
}

localhost:2016 {
    respond "Goodbye, world!"
}
